.caixa {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

.destaques {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
    height: calc(100vh - 3.125rem);
}

.destaques__principal {
    background: url('../../img/fortnite.jpg') center / cover no-repeat;
    border-radius: .2rem;
    grid-row: 1 / 3;
}

.destaques__secundario:nth-child(2) {
    background: url('../../img/pubg.jpg') center / cover no-repeat;
    border-radius: .2rem;
}

.destaques__secundario:nth-child(3) {
    background: url('../../img/slack.png') center / cover no-repeat;
    border-radius: .2rem;
}

.destaques__secundario:nth-child(4) {
    background: url('../../img/whatsapp.png') center / cover no-repeat;
    border-radius: .2rem;
}

.destaques__secundario:nth-child(5) {
    background: url('../../img/cs-go.jpg') center / cover no-repeat;
    border-radius: .2rem;
}

.destaques__titulo {
    background: rgba( 0, 0, 0, .5);
    color: #fdfdfdfd;
    padding: .6rem;
    text-align: center;
    width: 100%;
}

.destaques__categorias {
    grid-row: 3 / 3;
}

.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item {
    align-items: center;
    background: #fdfdfd;
    border: 1px solid transparent;
    border-radius: .2rem;
    color: #333333;
    display: flex;
    padding: 1rem;
}

.destaques__categorias___link {
    color: inherit;
}


@media screen and (min-width: 300px) {
    .destaques__principal,  .destaques__categorias{
        grid-column: 1 / 5;
    }
    
    .destaques__secundario:nth-child(2),
    .destaques__secundario:nth-child(3),
    .destaques__secundario:nth-child(4),
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__categorias___lista {
        flex-direction: column;
    }

    .destaques__categorias___item {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 425px) {
    .destaques__categorias___lista {
        flex-direction: row;
    }

    .destaques__categorias___item {
        width: 50%;
    }
}

@media screen and (min-width: 764px) {
    .destaques__principal {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }
    
    .destaques__secundario:nth-child(2) {
        display: flex;
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }
    
    .destaques__secundario:nth-child(3) {
        display: flex;
        grid-column: 4 / 4;
        grid-row: 2 / 2;
    }
    
    .destaques__secundario:nth-child(4) {
        display: flex;
        grid-column: 4 / 4;
        grid-row: 3 / 3;
    }
    
    .destaques__secundario:nth-child(5) {
        display: flex;
        grid-column: 3 / 3;
        grid-row: 3 / 3;
    }

    .destaques__categorias {
        grid-column: 1 / 3;
    }

    .destaques__categorias___lista {
        flex-direction: row;
    }
}


